[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile={{ COMPONENT.root / 'logs' / 'nginx.pid' }}
ExecStartPre={{ COMPONENT.root / 'sbin' / 'nginx -t' }}
ExecStart={{ COMPONENT.root / 'sbin' / 'nginx' }}
ExecReload={{ COMPONENT.root / 'sbin' / 'nginx -s reload' }}
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
