[Unit]
Description=UNV Web Template instance = {{ INSTANCE }}
After=network.target

[Service]
Type=simple
User={{ COMPONENT.user }}
Group={{ COMPONENT.user }}
ExecStart={{ COMPONENT.bin }}
WorkingDirectory={{ COMPONENT.home }}
LimitNOFILE=2000

{% set PORT = 8000 + INSTANCE -%}
Environment=PYTHONPATH={{ COMPONENT.home }}
Environment=SETTINGS={{ COMPONENT.settings_module }}
Environment=OVERRIDE_SETTINGS_WEB_PORT={{ PORT }}
Environment=OVERRIDE_SETTINGS_LOGGING_HANDLERS_FILE_FILENAME={{ COMPONENT.home }}/logs/app.{{ PORT }}.log

[Install]
WantedBy=multi-user.target app.target
