[Unit]
Description=UNV Web Template instance = {{ INSTANCE }}
After=network.target

[Service]
Type=simple
User={{ COMPONENT.user }}
Group={{ COMPONENT.user }}
ExecStart={{ COMPONENT.bin }}
LimitNOFILE=2000

Environment=SETTINGS={{ COMPONENT.settings }}
Environment=OVERRIDE_SETTINGS_APP_PORT={{ 8000 + INSTANCE }}
Environment=OVERRIDE_SETTINGS_APP_LOGGING_HANDLERS_FILE_FILENAME={{ 8000 + INSTANCE }}

[Install]
WantedBy=multi-user.target app.target
