[Unit]
Description=unv_web_template Web application
After=network.target
Requires=app.target

[Service]
Type=simple
User=app
Group=app
ExecStart={{ python.run('app/bin/server.py', command_only=True) }}
LimitNOFILE=1000

Environment=SETTINGS=secure.settings.production

# need settings for service 
# DEPLOY = SETTINGS['deploy]['components]['app']

Environment=OVERRIDE_SETTINGS_APP_PORT={{ SETTINGS['web']['port'] + INSTANCE }}
Environment=OVERRIDE_SETTINGS_APP_LOGGING_HANDLERS_FILE_FILENAME={{ DEPLOY['log'] }} / app.{{ INSTANCE }}.log

[Install]
WantedBy=multi-user.target app.target
