[Unit]
Description=unv_web_template Master process

# as many as system cores
{%- for instance in range(INSTANCES) %}
Wants=app_{{ instance }}.service
{%- endfor %}

After=network.target

[Install]
WantedBy=multi-user.target
